{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container mt-5">
  <div class="row">
    <div class="col-4 text-left">
      <img src="{% static 'images/1st-enterprise.avif' %}" style="width: 85%;" alt="USS Enterprise NCC-1701 from The Original Series">
      <img src="{% static 'images/Enterprise.jpeg' %}" style="width: 85%;" alt="USS Enterprise NCC-1701-A">
      <img src="{% static 'images/enterprise-d.jpeg' %}" style="width: 85%;" alt="USS Enterprise NCC-1701-D from The Next Generation">
      <img src="{% static 'images/voyager.jpg' %}" style="width: 85%;" alt="USS Voyager NCC-74656">
      <img src="{% static 'images/STFC_USS_Discovery.webp' %}" style="width: 85%;" alt="USS Discovery NCC-1031">
    </div>
    <div class="col-8">
      {% if about %}
      <h2>{{ about.title }}</h2>
      {{ about.content | safe }}
      {% else %}
      <h2>About</h2>
      <p class="text-muted">Content coming soon.</p>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col text-right">
      {% if about %}
      <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}